<div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16">
    <i
      class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"
    ></i
    >Education
  </h2>
  <% for(let i = 0; i<educations.length; i++){ %>
  <div class="w3-container">
    <h5 class="w3-opacity"><b><%= educations[i]["degree"] %></b></h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i><%= educations[i]["duration"] %>
    </h6>
    <p><%= educations[i]["text"] %></p>
    <hr />
  </div>
  <%}%>
</div>
