<p class="w3-large w3-text-theme">
  <b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
</p>
<p>English</p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height: 24px; width: 100%"></div>
</div>
<p>Spanish</p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height: 24px; width: 55%"></div>
</div>
<p>German</p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height: 24px; width: 25%"></div>
</div>
