<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
    </style>
  </head>
  <body>
    <form method="POST" action="http://localhost:3000/book-list/updateBookInfo/<%=id%>">
        <label for="name">Book name: <%=name%></label><br />
        <input type="text" id="name" name="name" /><br />
        <label for="author">Author name:<%=author%></label><br />
        <input type="text" id="author" name="author" /><br />
        <label for="genre">Genre:<%=genre%></label><br />
        <input type="text" id="genre" name="genre" /><br />
        <input type="submit" value="Add book" />
    </form>

  </body>
</html>
